  <form [formGroup]="myForm" (ngSubmit)="saveData()">

    <mat-form-field  class="example-full-width">
      <mat-label>Tipo de transaçao</mat-label>
      <mat-select formControlName="tipo_trans">
        <mat-option value="venta">Venta</mat-option>
        <mat-option value="compra">Compra</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome da mercadoria" formControlName="nome_producto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Valor" formControlName="valor">
    </mat-form-field>
    
    <button  mat-raised-button color="primary" [disabled]="myForm.invalid" type="submit">Adicionar transaçao</button><br>
  </form>

