main{width: 1100px;margin: 0 auto}
mat-card{
  margin: auto;
  display: block;
  margin-top: 2em
}
.left{width: 40%; float: left;}
.mat-card-header .mat-card-title{    font-size: 16px;}
.right{width: 58%; float: right;margin-top: 2em}